@tailwind base;
@tailwind components;
@tailwind utilities;

.maplibregl-popup {
  max-width: 300px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.maplibregl-popup-content {
  text-align: left;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
